@font-face {
  font-family: "nauito_bold";
  src: url("/assets/fonts/nunito-bold-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nauito_regular";
  src: url("/assets/fonts/nunito-regular-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nauito_semibold";
  src: url("/assets/fonts/nunito-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -----------------------
        html
  ----------------------- */

html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 94%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 88%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 70%;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
   * Basic styling
   */

body {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  position: relative;
}

/**
   * Lists
   */

ul {
  list-style: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

.container__landing {
  width: 100%;
  max-width: 1040px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Headings */

header {
  margin-top: 58px;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .header a {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  text-decoration: none;
  color: #111111;
  /* The Fallback */
  color: rgba(17, 17, 17, 0.6);
}

header .header a:hover {
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 480px) {
  header .header a {
    font-size: 12px;
  }
}

header .header a img {
  margin-right: 7px;
}

header .header .combank-logo {
  width: 100%;
  max-width: 177px;
}

@media (max-width: 480px) {
  header .header .combank-logo {
    max-width: 150px;
  }
}

@media (max-width: 320px) {
  header .header .combank-logo {
    max-width: 140px;
  }
}

/*  Headings */

/* Hero Header*/

.hero__sec {
  padding-bottom: 25px;
}

.hero__sec .mobile-banner {
  display: none;
}

@media (max-width: 480px) {
  .hero__sec .mobile-banner {
    width: 100%;
    display: block;
    margin-top: 0rem;
  }
}

.hero__sec .hero__sec__wrap {
  padding-top: 53px;
  padding-bottom: 43px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap {
    padding-bottom: 14px !important;
  }
}

.hero__sec .hero__sec__wrap .text_wrap {
  width: 100%;
  max-width: 500px;
  text-align: center;
  position: relative;
  z-index: 999;
}

.hero__sec .hero__sec__wrap .text_wrap h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #0045A8;
}

.hero__sec .hero__sec__wrap .text_wrap p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #000000;
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .text_wrap p {
    margin-top: 25px;
  }
}

.hero__sec .hero__sec__wrap .cr-1 {
  position: absolute;
  left: 90px;
  pointer-events: none;
  width: 100%;
  max-width: 108px;
}

@media (max-width: 768px) {
  .hero__sec .hero__sec__wrap .cr-1 {
    max-width: 70px;
  }
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .cr-1 {
    max-width: 40px;
  }
}

.hero__sec .hero__sec__wrap .fl-1 {
  position: absolute;
  top: 20px;
  left: 13rem;
  pointer-events: none;
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .fl-1 {
    top: 86px;
    left: 13rem;
    pointer-events: none;
    width: 20px;
  }
}

.hero__sec .hero__sec__wrap .fl-2 {
  position: absolute;
  bottom: 0px;
  left: 2rem;
  pointer-events: none;
}

.hero__sec .hero__sec__wrap .cr-2 {
  position: absolute;
  right: 90px;
  width: 100%;
  max-width: 108px;
}

@media (max-width: 768px) {
  .hero__sec .hero__sec__wrap .cr-2 {
    max-width: 70px;
  }
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .cr-2 {
    max-width: 40px;
  }
}

.hero__sec .hero__sec__wrap .fl-3 {
  position: absolute;
  bottom: 0px;
  right: 13rem;
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .fl-3 {
    position: absolute;
    top: 89px;
    right: 4rem;
    width: 33px;
  }
}

.hero__sec .hero__sec__wrap .fl-4 {
  position: absolute;
  bottom: 60px;
  right: 0rem;
}

@media (max-width: 480px) {
  .hero__sec .hero__sec__wrap .fl-4 {
    position: absolute;
    top: 89px;
    right: 4rem;
    width: 33px;
  }
}

.hero__sec .hero__sec__wrap .column img {
  width: 200px;
}

@media (max-width: 767px) {
  .hero__sec .hero__sec__wrap .column img {
    display: none;
  }
}

/* Hero Header*/

/* Winner Section */

.winners-sec .search-winner {
  padding: 18px 20px;
  background: #F7F8F8;
}

.winners-sec .search-winner .search-row {
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 480px) {
  .winners-sec .search-winner .search-row .entries-txt {
    margin-bottom: 15px;
  }
}

.winners-sec .search-winner .search-row .entries-txt p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000000;
}

.winners-sec .search-winner .search-row .icon-input {
  position: relative;
  display: flex;
  max-width: 420px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 35px;
}

@media (max-width: 480px) {
  .winners-sec .search-winner .search-row .icon-input {
    margin-bottom: 15px;
  }
}

.winners-sec .search-winner .search-row .icon-input__text-field {
  width: 100%;
  padding: 5px 30px 5px 5px;
  border: none;
}

.winners-sec .search-winner .search-row .icon-input__text-field:focus-visible {
  outline: none !important;
}

.winners-sec .search-winner .search-row .icon-input .icon-input__text-field::-webkit-input-placeholder {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  color: #7A7A7A;
  font-size: 14px;
}

.winners-sec .search-winner .search-row .icon-input #button-addon1:focus {
  box-shadow: none !important;
}

.winners-sec .search-winner .search-row .icon-input #button-addon1:focus-visible {
  box-shadow: none !important;
}

@media (max-width: 480px) {
  .winners-sec .search-winner .search-row .winner-category {
    justify-content: center !important;
  }
}

.winners-sec .search-winner .search-row .winner-category .category-age {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.135059px;
  color: #7A7A7A;
  min-width: 120px;
}

.winners-sec .search-winner .search-row .winner-category .age-group {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.135059px;
  color: #0045A8;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.winners-sec .search-winner .search-row .winner-category .btn-cat {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 120px;
  width: 100%;
  padding: 6px 15px;
  text-decoration: none;
}

.winners-sec .search-winner .search-row .winner-category .btn-cat .all-cat {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.135059px;
  color: #7A7A7A;
  margin-right: 50px;
}

.winners-sec .search-winner .search-row .winner-category .btn-cat i {
  color: #969697;
}

.winners-sec .winners_img_grid {
  margin-top: 20px;
  margin-bottom: 25px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 6px;
  background: #f1f3f5;
}

.content .content-overlay {
  border: 3px solid #0850B4;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content .watermark-main {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.6;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 200px;
}

@media (max-width: 480px) {
  .content-image {
    height: 100%;
  }
}

.content-details {
  position: absolute;
  text-align: center;
  background: #0850B4;
  padding: 10px 15px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.content-details p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #C7D2ED;
  margin: 0px;
}

.fadeIn-bottom {
  top: 83%;
}

@media (max-width: 480px) {
  .fadeIn-bottom {
    top: 90%;
  }
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/* Winner Section */

/* Footer*/

.wrap-com-logos {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-com-logos .com-logos {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 26px;
  margin-top: 30px;
}

@media (max-width: 480px) {
  .wrap-com-logos .com-logos {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.wrap-com-logos .com-logos img {
  margin-right: 11px;
}

.wrap-com-logos .com-logos img:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .wrap-com-logos .com-logos img {
    width: 100%;
    max-width: 70px;
  }
}

.wrap-com-logos .fl-bt-1 {
  position: absolute;
  top: 0;
  left: 82px;
}

@media (max-width: 480px) {
  .wrap-com-logos .fl-bt-1 {
    left: 25px;
  }
}

.wrap-com-logos .fl-bt-2 {
  position: absolute;
  bottom: 0;
  right: 50px;
}

@media (max-width: 480px) {
  .wrap-com-logos .fl-bt-2 {
    right: 30px;
  }
}

/* Footer*/

/*-------------------------- Winner Single Page Styles --------------------------*/

.single-winner-sec {
  margin-top: 20px;
}

.single-winner-sec .winner-single-content .card {
  border-radius: 10px;
}

.single-winner-sec .winner-single-content .watermark-sub {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px 35px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.385882px;
  color: #FFFFFF;
  opacity: 0.71;
}

.single-winner-sec .winner-single-content .img-container {
  overflow: hidden;
  border-radius: 10px;
}

.single-winner-sec .winner-single-content .img-container img {
  width: 100%;
}

.single-winner-sec .winner-single-details {
  padding: 10px 30px;
  background: #F7F8F8;
  border-radius: 4px;
  margin-bottom: 50px;
}

.single-winner-sec .winner-single-details .winner-name {
  border-right: 1px solid rgba(220, 218, 234, 0.7);
}

@media (max-width: 480px) {
  .single-winner-sec .winner-single-details .winner-name {
    border-right: none;
    text-align: center;
  }
}

.single-winner-sec .winner-single-details .winner-school {
  border-right: 1px solid rgba(220, 218, 234, 0.7);
}

@media (max-width: 480px) {
  .single-winner-sec .winner-single-details .winner-school {
    border-right: none;
    text-align: center;
  }
}

.single-winner-sec .winner-single-details .ws-title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #A3AABA;
}

@media (max-width: 480px) {
  .single-winner-sec .winner-single-details .ws-title {
    text-align: center;
  }
}

.single-winner-sec .winner-single-details .ws-description {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.125412px;
  color: #000000;
}

.single-winner-sec .winner-single-details .social_media .fab {
  font-size: 14px;
  padding: 0px 7px;
  text-align: center;
  color: #0850B4;
}

@media only screen and (max-width: 768px) {
  .single-winner-sec .winner-single-details .social_media {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .single-winner-sec .winner-single-details .social_media {
    border-right: none;
    text-align: center;
  }
}

.fl-5 {
  position: absolute;
  bottom: 50px;
  left: 35px;
}

@media (max-width: 480px) {
  .fl-5 {
    position: absolute;
    top: 89px;
    right: 4rem;
    width: 33px;
  }
}

.fl-6 {
  position: absolute;
  top: 100px;
  right: 65px;
}

@media (max-width: 480px) {
  .fl-6 {
    position: absolute;
    top: 89px;
    right: 4rem;
    width: 33px;
  }
}

.fl-7 {
  position: absolute;
  top: 280px;
  right: 85px;
}

@media (max-width: 480px) {
  .fl-7 {
    position: absolute;
    top: 89px;
    right: 85px;
    width: 33px;
  }
}

.modal-backdrop {
  display: none !important;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}

