@font-face {
  font-family: 'montextralight';
  src: url('../fonts/mont/fontfabric---mont-extralight-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montbold';
  src: url('../fonts/mont/fontfabric---mont-bold-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montregular';
  src: url('../fonts/mont/fontfabric---mont-regular-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montsemibold_italic';
  src: url('../fonts/mont/fontfabric---mont-semibold-italic-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-semibold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montsemibold';
  src: url('../fonts/mont/fontfabric---mont-semibold-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montlight';
  src: url('../fonts/mont/fontfabric---mont-light-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'CanelaWeb';
  src: url('../fonts/canela/CanelaWeb-Thin.woff2') format('woff2'),
      url('../fonts/canela/CanelaWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CanelaRegular';
  src: url('../fonts/canela/CanelaWeb-Regular.woff2') format('woff2'),
      url('../fonts/canela/CanelaWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



$montbold: 'montbold';
$montSemibold: 'montsemibold';
$montRegular: 'montregular';
$montItalic: 'montsemibold_italic';


//
@import 'layouts/default';
@import 'layouts/base';
@import 'layouts/partials';
@import 'layouts/sidebar';
@import 'submission/landing';
@import 'submission/register';
@import 'profile/profile-index';
@import 'submission/progress';
@import 'submission/competiotion';
@import 'submission/dashbord';
@import 'admin/round-lock';
@import 'jury-member/create';
