@font-face {
  font-family: 'montextralight';
  src: url(/fonts/fontfabric---mont-extralight-webfont.woff2?f3429271569942a6c7ca5e43fd2d2102) format("woff2"), url(/fonts/fontfabric---mont-extralight-webfont.woff?9ad9c2613e87148a553ed22f409ebc4f) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montbold';
  src: url(/fonts/fontfabric---mont-bold-webfont.woff2?ff790b23b152f00288c465f2df356e82) format("woff2"), url(/fonts/fontfabric---mont-bold-webfont.woff?92e93eebf0039e26f8ba64cef43db776) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montregular';
  src: url(/fonts/fontfabric---mont-regular-webfont.woff2?702700292fa1cfee2bad9bc5c52a706a) format("woff2"), url(/fonts/fontfabric---mont-regular-webfont.woff?9b081f03c3fa195b65c938ec838d21ce) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montsemibold_italic';
  src: url(/fonts/fontfabric---mont-semibold-italic-webfont.woff2?bb10ea5bbcf2c7c1e439802526852254) format("woff2"), url(/fonts/fontfabric---mont-semibold-italic-webfont.woff?5393cfa227d65a7182d1a8b3f72c752b) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montsemibold';
  src: url(/fonts/fontfabric---mont-semibold-webfont.woff2?6b35335f2f8f88377a5392f262de25cf) format("woff2"), url(/fonts/fontfabric---mont-semibold-webfont.woff?eb3dfdb3c6208922ecb89cc13dd3e683) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montlight';
  src: url(/fonts/fontfabric---mont-light-webfont.woff2?421643c69a44cf73c5afec09b4c2e2c7) format("woff2"), url(/fonts/fontfabric---mont-light-webfont.woff?15a971b63bc29594bd916b11acf3055f) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CanelaWeb';
  src: url(/fonts/CanelaWeb-Thin.woff2?73ff3f20ef7b93046fea1c30ed7353ea) format("woff2"), url(/fonts/CanelaWeb-Thin.woff?01b92e12d12838bdcbd71f137f5178f9) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CanelaRegular';
  src: url(/fonts/CanelaWeb-Regular.woff2?ac3870cec44d0e522312d940267cb58c) format("woff2"), url(/fonts/CanelaWeb-Regular.woff?ae1fa63a13dc07a26a0238e7ad4bf985) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input {
  border: solid 1px #9799A0 !important;
  box-sizing: content-box;
  margin-bottom: 0 !important;
}

input:focus {
  box-shadow: none !important;
}

select {
  border: solid 1px #9799A0 !important;
  max-width: 350px;
  height: 48px !important;
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding: 0 10px;
  border-radius: 0;
}

.input-field {
  width: 100%;
  max-width: 350px;
}

.input-field > label {
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding: 0 16px;
}

.input-field > label:not(.label-icon).active {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
  margin-top: -5px;
  padding: 0 0;
}

.input-field {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  width: 100%;
  max-width: 200px;
}

.btn {
  width: 100%;
  height: 48px !important;
  background-color: #004C98 !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #004C98;
  border: 2px solid #004C98;
}

[type="radio"]:checked + span:after {
  transform: scale(1.1);
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  width: 20px;
  height: 20px;
}

.input-radio {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border: solid 1px #9799A0 !important;
  height: 47px;
  display: flex;
  justify-self: start;
  align-items: center;
  margin-right: 15px;
}

.input-radio label {
  padding-left: 16px;
}

.btn-outline {
  width: 100%;
  height: 48px !important;
  background-color: #ffffff !important;
  border: 1px solid #004C98 !important;
  color: #004C98;
  transition: 300ms;
}

.btn-outline:hover {
  background-color: #004C98 !important;
  color: #fff;
}

.round-lock-btn {
  max-width: 150px;
  font-family: "montbold";
  font-size: 15px;
  color: #004C98;
}

.jury-sp .head-title {
  padding-bottom: 8px;
}

.jury-dash .table-title h2 {
  padding-bottom: 11px;
}

.jury-model {
  width: 100%;
  max-width: 600px;
}

.jury-model .modal-content {
  text-align: center;
}

.jury-model .modal-content h4 {
  padding-bottom: 20px !important;
}

.jury-model .modal-content .input-wrap {
  padding: 0 7rem;
}

.jury-model .modal-content .input-wrap .input-field {
  margin: 15px 0;
}

.jury-model .modal-content .input-wrap .input-field:first-child {
  margin-top: 0;
}

.jury-model .modal-content .input-wrap .input-field input {
  box-shadow: 0 1px 0 0 #ffffff;
}

.jury-model .modal-content .jury-acc-g {
  text-align: left !important;
  font-family: "montbold";
  font-size: 18px;
  color: #272D40;
  line-height: 25px;
}

.jury-model .modal-content .jury-check-wrap {
  display: flex;
  flex-direction: row;
}

.jury-model .modal-content .jury-check-wrap label:nth-child(2) {
  margin-left: 50px;
}

.btn-outline {
  width: 100%;
  height: 48px !important;
  background-color: #ffffff !important;
  border: 1px solid #004C98 !important;
  color: #004C98;
  transition: 300ms;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
}

.btn-outline input {
  opacity: 0;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.btn-outline span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-outline:hover {
  background-color: #004C98 !important;
  color: #fff;
}

.pdf-view a {
  display: flex;
  align-items: center;
}

.pdf-view a img {
  padding-right: 10px;
}

.pagination-sec {
  display: flex;
  justify-content: flex-end;
}

.pagination-sec .record {
  padding-right: 16px;
}

.pagination-sec .record span {
  font-family: "montregular";
  font-size: 15px;
  color: #999BA3;
  line-height: 20px;
}

.pagination-sec .pagination ul {
  margin-top: -5px;
  padding: 0;
}

.pagination-sec .pagination ul .left-arrow,
.pagination-sec .pagination ul .right-arrow {
  font-size: 38px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004C98;
  padding: 10px;
  margin: 0;
}

.pagination li a {
  font-size: 15px;
  color: #232737;
  line-height: 32px;
  font-family: "montbold";
}

.pagination li.active {
  background-color: #fff !important;
  font-family: "montbold";
  font-size: 15px;
  color: #232737;
  line-height: 32px;
}

.wrap-login-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
}

.wrap-login-btn button {
  max-width: 200px;
  margin-top: 42px;
}

.wrap-login-btn a {
  padding-top: 20px;
  color: #004c98;
}

h1 {
  font-family: "montsemibold";
  font-size: 50px;
  color: #202330;
  letter-spacing: -1px;
  padding-bottom: 16px;
  margin: 0;
}

h2 {
  font-family: "montsemibold";
  font-size: 30px;
  color: #202330;
  line-height: 35px;
  letter-spacing: -0.6px;
  margin: 0;
}

a:visited {
  color: #000;
}

p {
  font-family: "montregular";
  font-size: 18px;
  color: #202330;
  line-height: 30px;
  margin: 0;
}

.msg-head {
  color: #7FC95F;
}

.bold-color {
  font-family: "montbold";
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 100%;
  max-width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
  border-right: solid 1px #DBDBDB;
}

#main-section {
  margin-left: 150px;
  width: 100%;
}

.help-label {
  font-family: "montbold";
  font-size: 18px;
  color: #202330;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-wrapper,
.bottom-part {
  width: 100%;
  padding-left: 50px;
}

@media (max-width: 800px) {
  .main-wrapper,
  .bottom-part {
    overflow-x: auto;
  }
}

@media (max-width: 1024px) {
  .main-wrapper,
  .bottom-part {
    padding-right: 25px;
  }
}

.full-contact-container {
  width: 100%;
  max-width: 960px;
}

@media (max-width: 1024px) {
  .full-contact-container {
    min-width: 960px;
    overflow-x: scroll;
  }
}

.full-contact-container-second {
  width: 100%;
  max-width: 1100px;
}

@media (max-width: 1024px) {
  .full-contact-container-second {
    min-width: 1024px;
    overflow-x: scroll;
  }
}

.full-contact-container-three {
  width: 100%;
  max-width: 1600px;
}

@media (max-width: 1024px) {
  .full-contact-container-three {
    min-width: 1024px;
    overflow-x: scroll;
  }
}

.wrap-input-ele {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrap-input-ele .lft-sec {
  flex: 1;
  margin-right: 15px;
}

.wrap-input-ele .lft-sec .input-field {
  margin-top: 25px;
}

.wrap-input-ele .lft-sec .input-field:first-child {
  margin-top: 0;
}

.input-cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-cover .input-field {
  margin-right: 15px;
}

.inner-wrapper {
  padding-top: 60px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.spacer {
  padding-top: 55px;
}

.divider {
  margin: 30px 0;
}

.title-label {
  font-family: "montbold";
  font-size: 18px;
  color: #202330;
  line-height: 20px;
}

.label-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.social-media .text-ani-inner img {
  max-width: 25px;
}

.comp-name {
  font-size: 16px !important;
}

.head-title {
  padding-bottom: 50px;
}

.head-title h2 {
  padding-bottom: 21px;
}

.back-section {
  cursor: pointer;
}

.back-section span {
  font-family: "montsemibold";
  font-size: 20px;
  color: #202330;
  line-height: 50px;
}

#sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}

#sidebar .logo-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar .logo-sec img {
  padding-bottom: 24px;
}

#sidebar .logo-sec span {
  text-align: center;
  font-family: "montsemibold";
  font-size: 13px;
  color: #202330;
  line-height: 15px;
  padding: 0 1rem;
  letter-spacing: 0.87px;
}

#sidebar .logo-sec span:last-child {
  letter-spacing: 1.3px;
}

#sidebar .page-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 100%;
  padding: 0 34px;
}

#sidebar .page-link ul li {
  border-bottom: solid 1px #DBDBDB;
  padding: 10px 0;
}

#sidebar .page-link ul li:last-child {
  border: none;
}

#sidebar .page-link ul li a {
  font-family: "montbold";
  font-size: 13px;
  color: #004C98;
}

#sidebar .page-link ul li .active {
  color: #202330;
}

.top-part {
  padding-bottom: 50px;
}

.top-part h2 {
  padding-bottom: 21px;
}

.top-part .contain-inputs {
  display: flex;
  flex-direction: row;
}

.top-part .contain-inputs .left-section {
  width: 100%;
  max-width: 730px;
}

.top-part .email-sec {
  padding-top: 12px;
}

.top-part .contain-inputs {
  padding-top: 1rem;
}

.bottom-part {
  height: 522px;
  background-color: #F9F9F9;
  padding-left: 50px;
}

.bottom-part h2 {
  margin: 0;
}

.bottom-part .register-form {
  display: flex;
  justify-self: start;
  align-items: center;
}

.bottom-part .help-label {
  padding-top: 25px;
  padding-bottom: 14px;
}

.bottom-part .help-label img {
  margin-left: 11px;
}

.login {
  margin-top: 30px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login .login-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login .login-left span:nth-child(1) {
  font-family: "montsemibold";
  font-size: 15px;
  color: #272D40;
  line-height: 23px;
}

.login .login-left span:nth-child(2) {
  font-family: "montregular";
  font-size: 13px;
  color: #999BA3;
  line-height: 20px;
}

.login .login-img {
  width: 54px;
  height: 54px;
  background-color: #F1F1F1;
  border-radius: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.login .logout button {
  cursor: pointer;
  font-family: "montregular";
  font-size: 14px;
  color: #0058A4;
  letter-spacing: 0.82px;
  line-height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff !important;
}

.profile-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-card .wrap-back {
  width: 150px;
  height: 150px;
  background-color: #F1F1F1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-card .wrap-back img {
  width: 100%;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}

.profile-card .wrap-back .cam-upload {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33px;
  height: 33px;
  background: url(/images/camara-upload.svg?ad7c0e8dc1d584c7b3aae1107f957ff2);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.profile-card .wrap-back .cam-upload input {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33px;
  height: 33px;
  font-size: 0;
  outline: none;
  border: none !important;
  opacity: 0;
}

.profile-card .profile-title-section {
  padding-left: 28px;
}

.profile-card .profile-title-section h5:nth-child(1) {
  font-family: "montbold" !important;
  font-size: 30px !important;
  color: #202330 !important;
  letter-spacing: -0.6px !important;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.profile-card .profile-title-section h5:nth-child(2) {
  font-family: "montbold" !important;
  font-size: 18px !important;
  color: #202330 !important;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.profile-spaceing {
  padding-top: 36px;
}

.profile-iteam {
  padding-bottom: 12px;
}

.profile-iteam p:nth-child(1) {
  font-family: "montregular";
  font-size: 15px;
  color: #84868D;
  line-height: 20px;
  padding: 0 !important;
  margin: 0 !important;
}

.profile-iteam p:nth-child(2) {
  font-family: "montregular";
  font-size: 18px;
  color: #202330;
  line-height: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.containre-sec {
  width: 100%;
}

.containre-sec .progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.containre-sec .progressbar li::before {
  content: '';
  width: 25px;
  height: 25px;
  line-height: 30px;
  border: 1px solid #D8DAE2;
  display: block;
  color: #fff;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  transform: rotate(45deg);
  position: relative;
}

.containre-sec .progressbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px dotted #dddfe5;
  top: 12px;
  left: -50%;
  z-index: -1;
}

.containre-sec .progressbar li .active {
  position: relative;
}

.containre-sec .progressbar li .active::after {
  border: 1px dotted #000;
}

.containre-sec .progressbar li .active::before {
  border-color: #55b776 !important;
}

.containre-sec .progressbar li img {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containre-sec li.active:before,
.containre-sec #progressbar li.active:after {
  background: #000;
  border: none;
  color: white;
}

.progressbar li.active:after {
  border-color: #000;
}

.progressbar li.active + li:after {
  background-color: #000;
}

.select-competition {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.select-competition span {
  padding-bottom: 18px;
}

.select-competition label {
  padding-bottom: 10px;
}

.upload-document {
  padding-top: 30px;
}

.documents {
  display: flex;
  margin-top: 20px;
}

.documents .doc-one,
.documents .doc-two {
  width: 100%;
  max-width: 250px;
  height: 245px;
  border: solid #9799A0 1px;
  margin-right: 15px;
  padding: 25px;
}

.documents .doc-one .file-field,
.documents .doc-two .file-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.documents .doc-one .file-field .file-path-wrapper,
.documents .doc-two .file-field .file-path-wrapper {
  height: 35px !important;
  border: none !important;
}

.documents .doc-one .file-field .file-path-wrapper input,
.documents .doc-two .file-field .file-path-wrapper input {
  border: none !important;
  height: 40px !important;
}

.documents .doc-one .box-title,
.documents .doc-two .box-title {
  font-family: "montregular";
  font-size: 18px;
  color: #202330;
  line-height: 30px;
}

.documents .doc-one .format,
.documents .doc-two .format,
.documents .doc-one .m-size,
.documents .doc-two .m-size {
  font-family: "montregular";
  color: #84868D;
  font-size: 15px;
  line-height: 20px;
  padding-top: 10px;
}

.documents .doc-one button,
.documents .doc-two button {
  margin-top: 25px;
}

.agreement {
  padding-top: 20px;
}

.modal-content h4 {
  font-family: "montbold";
  font-size: 30px;
  color: #202330;
  letter-spacing: -0.6px;
  line-height: 30px;
}

.modal-content p {
  font-family: "montregular";
  font-size: 15px;
  color: #202330;
  line-height: 23px;
  padding: 10px 0;
}

.modal-content .close-btn {
  display: flex;
  justify-content: flex-end;
}

.modal-content .close-btn img {
  cursor: pointer;
}

.submit-button {
  padding-top: 30px;
  margin-bottom: 120px;
}

.tearm {
  font-size: 15px;
  color: #004C98;
}

#modal12 {
  width: 100%;
  max-width: 600px;
  padding-bottom: 40px;
  padding-top: 20px;
}

#modal12 .con-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal12 .con-btns button {
  margin-right: 5px;
}

.table-title h2 {
  padding-bottom: 40px;
  font-family: "montbold";
  font-size: 30px;
  color: #202330;
  letter-spacing: -0.6px;
}

table .primary-color {
  color: #004C98;
}

table thead tr th {
  font-family: "montbold";
  font-size: 15px;
  color: #202330;
}

table tbody tr td {
  font-family: "montregular";
  font-size: 15px;
  color: #202330;
}

table tbody tr td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table tbody tr td img {
  cursor: pointer;
}

.dashboard {
  padding-right: 50px;
}

.dashboard .pdf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #004C98;
}

.dashboard .jury-add-btn {
  margin-top: 40px;
}

.table-top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.table-top-bar span {
  font-family: "montbold";
  font-size: 18px;
  color: #202330;
}

.table-top-bar .table-top-rd-fnt {
  font-family: "montregular";
  font-size: 16px;
  color: #84868D;
}

.beach-sculp {
  padding-top: 1.8rem;
}

.beach-sculp .beach-sculp-title {
  font-family: "montbold";
  font-size: 18px;
  color: #202330;
}

.beach-sculp .rnd-sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
}

.beach-sculp .rnd-sec .lock-icon {
  width: 25px;
  height: 25px;
  border: solid 1.5px #202330;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.beach-sculp .rnd-sec .round {
  padding-right: 40px;
  font-family: "montregular";
  font-size: 16px;
  color: #84868D;
  line-height: 30px;
}

.beach-sculp .rnd-sec .locked {
  padding-right: 100px;
  font-family: "montsemibold_italic";
  font-size: 15px;
  color: #76C35B;
}

.beach-sculp .rnd-sec .wrap-badge {
  padding-left: 25px;
}

.beach-sculp .rnd-sec .wrap-badge .locked-badge {
  width: 462px;
  height: 50px;
  background-color: #E9F4E6;
  border: 1px solid #BDE2B1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.beach-sculp .rnd-sec .wrap-badge .locked-badge p {
  font-family: "montregular";
  font-size: 15px;
  color: #66B24B;
}

.beach-sculp .rnd-sec .wrap-badge .locked-badge img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
}

.sculp-second {
  padding-top: 3rem;
}

.form-wrapper h4 {
  font-family: "montbold";
  font-size: 18px;
  color: #202330;
  line-height: 25px;
}

.form-wrapper textarea {
  border: solid 1px #9799A0 !important;
  height: 260px;
}

.form-wrapper textarea::-moz-placeholder {
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.form-wrapper textarea:-ms-input-placeholder {
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.form-wrapper textarea::-ms-input-placeholder {
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.form-wrapper textarea::placeholder {
  font-family: "montregular" !important;
  font-size: 16px !important;
  color: #84868D !important;
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.form-wrapper textarea:focus {
  border-color: #9799A0 !important;
}

.save {
  margin-top: 20px;
}

.modal button:nth-child(2) {
  margin-top: 0;
}

