.awards {
  height: 900px !important;
}

@media (max-width: 990px) {
  .awards {
    height: auto !important;
  }
}

.awards .wrap-winner-sec .the-winner .wrap-winner-img img {
  width: 100%;
  max-width: 474px;
  padding: 50px;
  border: solid 4px #000;
  border-radius: 3px;
}

.wrap-winner-sec {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.the-winner {
  width: 100%;
}

.the-winner .wrap-slide-winner-img {
  box-sizing: border-box;
  padding: 50px;
  border: solid 4px #000;
  border-radius: 3px;
}

.the-winner .winner-slider .swiper-slide {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-winner .winner-slider .swiper-slide img {
  width: 100% !important;
  max-width: 366px !important;
  max-height: 386px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-sizing: border-box;
  padding: 0 !important;
  border: none !important;
}

.top-three-sec {
  width: 100%;
}

.top-three-sec .outer-border {
  padding: 35px 35px;
  border: solid 4px #000;
  box-sizing: border-box;
  border-radius: 3px;
}

.top-three-sec .wrap-slider2 {
  width: 32%;
}

@media (max-width: 992px) {
  .top-three-sec .wrap-slider2 {
    width: 100%;
  }
}

.top-three-sec .wrap-slider2 .info-winner {
  display: flex;
}

.top-three-sec .wrap-slider2 .info-winner span {
  padding-right: 10px;
}

.top-three-sec .wrap-slider2 .winner-slider-three .swiper-slide {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-three-sec .wrap-slider2 .winner-slider-three .swiper-slide img {
  width: 100% !important;
  max-width: 181px !important;
  max-height: 286px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-sizing: border-box;
  padding: 0 !important;
  border: none !important;
}

@media (max-width: 992px) {
  .top-three-sec .wrap-slider2 .winner-slider-three .swiper-slide img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

.awards .wrap-winner-sec .top-three .wrap-winner-img span {
  font-family: "montsemibold";
  font-size: 1rem;
  color: #202330;
  line-height: 30px;
  letter-spacing: -0.6px;
  text-align: left;
  padding-top: 0px;
}

.awards .wrap-winner-sec .top-three .wrap-winner-img .runnerup-txt {
  font-size: 1.1rem;
  color: #000000;
  letter-spacing: 1.2px;
  padding-top: 7px;
}

.gal-item .content ul li p {
  font-size: 20px;
}

