/* -----------------------
      html
----------------------- */

html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;

  @include respond-from($device-md, $device-lg) {
    font-size: 94%;
  }

  @include respond-to($device-sm, $device-md) {
    font-size: 88%;
  }

  @include respond-to(null, $device-sm) {
    font-size: 70%;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body {

  font-kerning: normal;
  position: relative;
}




/**
 * Lists
 */

ul{
  list-style: none;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

/* mixin comp styles */
