.container__landing {
   width: 100%;
   max-width: 810px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   
}




aks-file-upload {
   width: 310px;
   display: block;
   margin: 0 auto;
   margin-top: 4rem;
 }
 #uploadfile{
     width: 80%;
     margin: 0 auto;
     color: #002c7b;
     line-height:1.5;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }



 .error{
    font-family: $nuito-semibold;
    font-size: 11px;
    color: red;
    margin-bottom: -6px;
 }