.table-title {
    h2 {
        padding-bottom: 40px;
        font-family: $montbold;
        font-size: 30px;
        color: #202330;
        letter-spacing: -0.6px;
    }
}
table {
    .primary-color {
        color: #004C98;
    }
    thead {
        tr {
            th {
                font-family: $montbold;
                font-size: 15px;
                color: #202330;
            }
        }
    }
    tbody {
        tr {
            td {
                font-family: $montRegular;
                font-size: 15px;
                color: #202330;
                &:last-child {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                img {
                    cursor: pointer;
                }
            }
        }
    }
}
.dashboard {
    padding-right: 50px;
    .pdf{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #004C98;
   }
   .jury-add-btn{
       margin-top: 40px;
   }
}

.table-top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;

    span {
        font-family: $montbold;
        font-size: 18px;
        color: #202330;
    }
    .table-top-rd-fnt {
        font-family: $montRegular;
        font-size: 16px;
        color: #84868D;
    }
    
}
