.top-part{
  padding-bottom: 50px;
  h2{
    padding-bottom: 21px;
  }
  .contain-inputs{
    display: flex;
    flex-direction: row;
    .left-section{
      width: 100%;
      max-width: 730px;
    }
  }
  .email-sec{
    padding-top: 12px;
  }
  .contain-inputs{
    padding-top: 1rem;
  }
}
.bottom-part{
  height: 522px;
  background-color: #F9F9F9;
  padding-left: 50px;
  h2{
    margin: 0;
  }
  .register-form{
    display: flex;
    justify-self: start;
    align-items: center;
  }
  .help-label{
    padding-top: 25px;
    padding-bottom: 14px;
    img{
      
      margin-left: 11px;
    }
  }
}

