.containre-sec{
   width: 100%;
   .progressbar{
      
      li{
         list-style: none;
         display: inline-block;
         width: 30.33%;
         position: relative;
         text-align: center;
         cursor: pointer;
         &::before{
            content: '';
            width: 25px;
            height: 25px;
            line-height : 30px;
            border: 1px solid #D8DAE2;
            display: block;
            color: #fff;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: #fff;
            transform: rotate(45deg);
            position: relative;
         }
         &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            border: 1px dotted #dddfe5;
            top: 12px;
            left: -50%;
            z-index: -1;
         }
         .active{
            position: relative;
            &::after{
               border: 1px dotted #000;
            }
            &::before{
               border-color: #55b776 !important;
            }
         }

         img{
            position: absolute;
            top: 22%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
         
         
      }
   }

   li.active:before,  #progressbar li.active:after{
      
      background: #000;
      border: none;
      color: white;
    }

    
    
}

.progressbar li.active:after {
   border-color: #000;
 } 
 .progressbar li.active + li:after {
   background-color: #000;
 }