@font-face {
    font-family: "nauito_bold";
    src: url("/assets/fonts/nunito-bold-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nauito_regular";
    src: url("/assets/fonts/nunito-regular-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nauito_semibold";
    src: url("/assets/fonts/nunito-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/nunito-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* -----------------------
        html
  ----------------------- */

html {
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 94%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 88%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 70%;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/**
   * Basic styling
   */

body {
    -webkit-font-kerning: normal;
    font-kerning: normal;
    position: relative;
}

/**
   * Lists
   */

ul {
    list-style: none;
}

li>ul,
li>ol {
    margin-bottom: 0;
}


//fonts family
$nuito-bold: 'nauito_bold';
$nuito-semibold: 'nauito_semibold';
$nuito-regular: 'nauito_regular';

// color
$black-v5: #111111;
$blue-v1: #0045A8;

// brackpoint
$device-xl: 1400px;
$device-lg: 1200px;
$device-md: 992px;
$device-sm: 768px;
$device-xs: 480px;


@mixin font-opacity($color, $opacity: 0.3) {
    color: $color;
    /* The Fallback */
    color: rgba($color, $opacity);
}

@mixin flex-spacebetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container__landing {
    width: 100%;
    max-width: 1040px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


/* Headings */


header {
    margin-top: 58px;

    .header {
        @include flex-spacebetween;
        position: relative;

        a {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #111111;
            mix-blend-mode: normal;
            opacity: 0.6;
            text-decoration: none;
            @include font-opacity($black-v5, 0.6);


            &:hover {
                text-decoration: none;
                opacity: 1;
            }

            @media(max-width: $device-xs) {
                font-size: 12px;
            }

            img {
                margin-right: 7px;
            }
        }

        .combank-logo {
            width: 100%;
            max-width: 177px;

            @media(max-width: $device-xs) {
                max-width: 150px;
            }

            @media(max-width: 320px) {
                max-width: 140px;
            }
        }
    }
}

/*  Headings */


/* Hero Header*/

.hero__sec {
    padding-bottom: 25px;

    .mobile-banner{
        display: none;
        @media(max-width: 480px){
            width: 100%;
            display: block;
            margin-top: 0rem;
        }
    }

    .hero__sec__wrap {
        padding-top: 53px;
        padding-bottom: 43px;
        position: relative;
        @include flex-center;
        @media(max-width: 480px){
            padding-bottom: 14px !important;
        }
       

        .text_wrap {
            width: 100%;
            max-width: 500px;
            text-align: center;
            position: relative;
            z-index: 999;

            h1 {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                color: $blue-v1;
            }

            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 1px;
                color: #000000;

                @media(max-width: $device-xs) {
                    margin-top: 25px;
                }
            }
        }

        .cr-1 {
            position: absolute;
            left: 90px;
            pointer-events: none;
            width: 100%;
            max-width: 108px;

            @media(max-width: $device-sm) {
                max-width: 70px;
            }

            @media(max-width: $device-xs) {
                max-width: 40px;
            }
        }

        .fl-1 {
            position: absolute;
            top: 20px;
            left: 13rem;
            pointer-events: none;

            @media(max-width: $device-xs) {
                top: 86px;
                left: 13rem;
                pointer-events: none;
                width: 20px;
            }
        }

        .fl-2 {
            position: absolute;
            bottom: 0px;
            left: 2rem;
            pointer-events: none;
        }

        .cr-2 {
            position: absolute;
            right: 90px;
            width: 100%;
            max-width: 108px;

            @media(max-width: $device-sm) {
                max-width: 70px;
            }

            @media(max-width: $device-xs) {
                max-width: 40px;
            }
        }

        .fl-3 {
            position: absolute;
            bottom: 0px;
            right: 13rem;

            @media(max-width: $device-xs) {
                position: absolute;
                top: 89px;
                right: 4rem;
                width: 33px;
            }

        }

        .fl-4 {
            position: absolute;
            bottom: 60px;
            right: 0rem;

            @media(max-width: $device-xs) {
                position: absolute;
                top: 89px;
                right: 4rem;
                width: 33px;
            }

        }
        
        .column{
            img{
                width: 200px;
                @media(max-width: 767px){
                    display: none;
                }
            }
        }
    }
}

/* Hero Header*/

/* Winner Section */

.winners-sec {

    .search-winner {
        padding: 18px 20px;
        background: #F7F8F8;

        .search-row {
            justify-content: space-around;
            align-items: center;

            .entries-txt {
                @media(max-width: $device-xs) {
                    margin-bottom: 15px;
                }

                p {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 1px;
                    color: #000000;
                }
            }

            .icon-input {
                position: relative;
                display: flex;
                max-width: 420px;


                // position: absolute;
                background: #FFFFFF;
                border: 1px solid #EEEEEE;
                box-sizing: border-box;
                border-radius: 35px;

                @media(max-width: $device-xs) {
                    margin-bottom: 15px;
                }

                &__text-field {
                    width: 100%;
                    padding: 5px 30px 5px 5px;
                    border: none;

                    &:focus-visible {
                        outline: none !important;
                    }
                }

                .icon-input__text-field::-webkit-input-placeholder {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 1px;
                    color: #7A7A7A;
                    font-size: 14px;
                }

                #button-addon1:focus {
                    box-shadow: none !important;
                }

                #button-addon1:focus-visible {
                    box-shadow: none !important;
                }
            }

            .winner-category {

                @media(max-width: $device-xs) {
                   justify-content:center !important;
                }

                .category-age{
                    background: #FFFFFF;
                    border: 1px solid #EEEEEE;
                    box-sizing: border-box;
                    border-radius: 5px;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 0.135059px;
                    color: #7A7A7A;
                    min-width: 120px;
                }
                .age-group {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 0.135059px;
                    color: #0045A8;

                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }

                .btn-cat {
                    background: #FFFFFF;
                    border: 1px solid #EEEEEE;
                    box-sizing: border-box;
                    border-radius: 5px;
                    max-width: 120px;
                    width: 100%;
                    padding: 6px 15px;
                    text-decoration: none;

                    .all-cat {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.135059px;
                        color: #7A7A7A;
                        margin-right: 50px;
                    }

                    i {
                        color: #969697;
                    }
                }
            }


        }
    }

    .winners_img_grid {
        margin-top: 20px;
        margin-bottom: 25px;
    }

}





.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 6px;
    background: #f1f3f5;
}

.content .content-overlay {
    border: 3px solid #0850B4;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content .watermark-main {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 40px;
    color: #FFFFFF;
    opacity: 0.6;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    // height: calc(50vh - 200px);
    height: 200px;

    @media(max-width: $device-xs) {
        height: 100%;
    }
}

.content-details {
    position: absolute;
    text-align: center;
    background: #0850B4;
    padding: 10px 15px;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    // top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.content-details p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #C7D2ED;
    margin: 0px;
}

.fadeIn-bottom {
    top: 83%;

    @media(max-width: $device-xs) {
        top: 90%;
    }
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}


/* Winner Section */



/* Footer*/

.wrap-com-logos {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    @include flex-center;

    .com-logos {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        margin-top: 26px;
        margin-top: 30px;

        @media(max-width: $device-xs) {
            max-width: 100%;
            @include flex-center;
        }

        img {

            margin-right: 11px;

            &:last-child {
                margin-right: 0;
            }

            @media(max-width: $device-xs) {
                width: 100%;
                max-width: 70px;
            }

        }
    }

    .fl-bt-1 {
        position: absolute;
        top: 0;
        left: 82px;

        @media(max-width: $device-xs) {
            left: 25px;
        }
    }

    .fl-bt-2 {
        position: absolute;
        bottom: 0;
        right: 50px;

        @media(max-width: $device-xs) {
            right: 30px;
        }
    }
}

/* Footer*/







/*-------------------------- Winner Single Page Styles --------------------------*/


.single-winner-sec {
    margin-top: 20px;

    .winner-single-content {
        .card {
            border-radius: 10px;
        }

        .watermark-sub {
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 10px 35px;

            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            letter-spacing: 0.385882px;
            color: #FFFFFF;
            opacity: 0.71;
        }

        .img-container {
            overflow: hidden;
            border-radius: 10px;

            img {
                // height: calc(100vh - 270px);
                width: 100%;
            }
        }
    }

    .winner-single-details {
        padding: 10px 30px;
        background: #F7F8F8;
        border-radius: 4px;
        margin-bottom: 50px;

        .winner-name {
            border-right: 1px solid rgba(220, 218, 234, 0.7);

            @media(max-width: $device-xs) {
                border-right: none;
                text-align: center;
            }
        }

        .winner-school {
            border-right: 1px solid rgba(220, 218, 234, 0.7);

            @media(max-width: $device-xs) {
                border-right: none;
                text-align: center;
            }
        }

        .ws-title {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.5px;
            color: #A3AABA;

            @media(max-width: $device-xs) {
                text-align: center;
            }

        }

        .ws-description {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.125412px;
            color: #000000;

        }

        .social_media {
            .fab {
                font-size: 14px;
                padding: 0px 7px;
                text-align: center;
                color: #0850B4;
            }
            @media only screen and (max-width: 768px){
                display:flex;
                justify-content: center;
            }

            @media(max-width: $device-xs) {
                border-right: none;
                text-align: center;
            }
        }
    }
}


.fl-5 {
    position: absolute;
    bottom: 50px;
    left: 35px;

    @media(max-width: $device-xs) {
        position: absolute;
        top: 89px;
        right: 4rem;
        width: 33px;
    }

}

.fl-6 {
    position: absolute;
    top: 100px;
    right: 65px;

    @media(max-width: $device-xs) {
        position: absolute;
        top: 89px;
        right: 4rem;
        width: 33px;
    }

}

.fl-7 {
    position: absolute;
    top: 280px;
    right: 85px;

    @media(max-width: $device-xs) {
        position: absolute;
        top: 89px;
        right: 85px;
        width: 33px;
    }

}

// Modal Custom

.modal-backdrop{
display:none !important;
}

.modal{
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 1050;
    // width: 100vw;
    // height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
