@font-face {
  font-family: 'nunito_bold';
  src: url("../fonts/nunito-bold-webfont.woff2") format("woff2"), url("../fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nunito_regular';
  src: url("../fonts/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nunito_semibold';
  src: url("../fonts/nunito-semibold-webfont.woff2") format("woff2"), url("../fonts/nunito-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* -----------------------
      html
----------------------- */
html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    html {
      font-size: 94%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 88%; } }
  @media (max-width: 767px) {
    html {
      font-size: 70%; } }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-kerning: normal;
  position: relative; }

/**
 * Lists
 */
ul {
  list-style: none; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
/* mixin comp styles */
h1 {
  font-family: "nunito_bold";
  font-size: 2.5rem;
  color: #0045A8;
  letter-spacing: 0.39px;
  line-height: 40px; }

h4 {
  font-family: "nunito_semibold";
  font-size: 1.125rem;
  color: #111111;
  letter-spacing: 0.17px; }

.submit-btn {
  width: 100%;
  max-width: 177px;
  height: 42px;
  border-radius: 24px;
  background: linear-gradient(#F9D022, #FAE34C);
  border: none;
  box-shadow: 0 2px 5px 0 rgba(10, 5, 74, 0.15);
  font-family: "nunito_semibold";
  font-size: 14px;
  letter-spacing: -0.09px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }
  @media (max-width: 480px) {
    .submit-btn {
      font-size: 12px; } }
  .submit-btn:hover {
    transform: scale(1.05); }
  .submit-btn img {
    margin-left: 7px; }

.container__landing {
  width: 100%;
  max-width: 810px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

aks-file-upload {
  width: 310px;
  display: block;
  margin: 0 auto;
  margin-top: 4rem; }

#uploadfile {
  width: 80%;
  margin: 0 auto;
  color: #002c7b;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.error {
  font-family: "nunito_semibold";
  font-size: 11px;
  color: red;
  margin-bottom: -6px; }

header {
  margin-top: 58px; }
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header a {
      font-family: "nunito_semibold";
      font-size: 0.875rem;
      color: #111111;
      /* The Fallback */
      color: rgba(17, 17, 17, 0.6);
      letter-spacing: 0.14px;
      line-height: 24px; }
      header .header a.link {
        display: flex; }
      header .header a:hover {
        text-decoration: none; }
      @media (max-width: 480px) {
        header .header a {
          font-size: 12px; } }
      header .header a img {
        margin-right: 7px; }
    header .header .combank-logo {
      width: 100%;
      max-width: 177px; }
      @media (max-width: 480px) {
        header .header .combank-logo {
          max-width: 150px; } }
      @media (max-width: 320px) {
        header .header .combank-logo {
          max-width: 140px; } }

.hero__sec {
  padding-bottom: 25px; }
  .hero__sec .hero__sec__wrap {
    padding-top: 53px;
    padding-bottom: 43px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero__sec .hero__sec__wrap .text_wrap {
      width: 100%;
      max-width: 500px;
      text-align: center;
      position: relative;
      z-index: 999; }
      .hero__sec .hero__sec__wrap .text_wrap h1 {
        margin-bottom: 25px; }
    .hero__sec .hero__sec__wrap .cr-1 {
      position: absolute;
      left: 0;
      pointer-events: none;
      width: 100%;
      max-width: 108px; }
      @media (max-width: 768px) {
        .hero__sec .hero__sec__wrap .cr-1 {
          max-width: 70px; } }
      @media (max-width: 480px) {
        .hero__sec .hero__sec__wrap .cr-1 {
          max-width: 40px; } }
    .hero__sec .hero__sec__wrap .fl-1 {
      position: absolute;
      top: 20px;
      left: 7rem;
      pointer-events: none; }
      @media (max-width: 480px) {
        .hero__sec .hero__sec__wrap .fl-1 {
          top: 86px;
          left: 4rem;
          pointer-events: none;
          width: 20px; } }
    .hero__sec .hero__sec__wrap .fl-2 {
      position: absolute;
      bottom: 0px;
      left: 11rem;
      pointer-events: none; }
    .hero__sec .hero__sec__wrap .cr-2 {
      position: absolute;
      right: 0;
      width: 100%;
      max-width: 108px; }
      @media (max-width: 768px) {
        .hero__sec .hero__sec__wrap .cr-2 {
          max-width: 70px; } }
      @media (max-width: 480px) {
        .hero__sec .hero__sec__wrap .cr-2 {
          max-width: 40px; } }
    .hero__sec .hero__sec__wrap .fl-3 {
      position: absolute;
      top: 49px;
      right: 7rem; }
      @media (max-width: 480px) {
        .hero__sec .hero__sec__wrap .fl-3 {
          position: absolute;
          top: 89px;
          right: 4rem;
          width: 33px; } }

.file-upload-sec .wrap-file-upload {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .file-upload-sec .wrap-file-upload {
      flex-direction: column; } }
  .file-upload-sec .wrap-file-upload .dopzone-sec {
    width: 100%;
    max-width: 240px;
    margin-right: 30px; }
    @media (max-width: 767px) {
      .file-upload-sec .wrap-file-upload .dopzone-sec {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px; } }
    .file-upload-sec .wrap-file-upload .dopzone-sec h4 {
      text-align: center;
      margin-bottom: 15px; }
    .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone {
      min-height: 150px;
      border: 2px solid #0A5BCD;
      background: white;
      padding: 0px;
      border-style: dashed;
      border-radius: 10px;
      position: relative; }
      .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone.dropzone_error {
        border-color: red; }
      .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .dz-message {
        margin-top: 13px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0; }
      .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .dz-message {
        margin-top: 13px; }
      .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 34px; }
        .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .file-icon {
          padding-bottom: 21px; }
        .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .drop-text {
          font-family: "nunito_regular";
          font-size: 14px;
          color: #111111;
          letter-spacing: 0.14px;
          margin-bottom: 13px; }
          .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .drop-text img {
            margin-right: 0.1px; }
          .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .drop-text span {
            font-family: "nunito_bold";
            color: #0045A8; }
          @media (max-width: 480px) {
            .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .drop-text {
              font-size: 12px; } }
        .file-upload-sec .wrap-file-upload .dopzone-sec .dropzone .wrap-drop .file-size-details {
          font-family: "nunito_regular";
          color: #111111;
          font-size: 12px;
          letter-spacing: 0.12px;
          width: 100%;
          max-width: 143px;
          text-align: center;
          padding-bottom: 25px; }
  .file-upload-sec .wrap-file-upload .contact-form-section {
    width: 100%;
    max-width: 509px; }
    @media (max-width: 767px) {
      .file-upload-sec .wrap-file-upload .contact-form-section {
        max-width: 100%; } }
    .file-upload-sec .wrap-file-upload .contact-form-section h4 {
      text-align: center;
      margin-bottom: 15px; }
    .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px; }
      @media (max-width: 480px) {
        .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap {
          flex-direction: column; } }
      .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec {
        width: 100%;
        max-width: 240px; }
        @media (max-width: 767px) {
          .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec {
            max-width: 100%; } }
        .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec:nth-child(1) {
          margin-right: 29px; }
          @media (max-width: 480px) {
            .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec:nth-child(1) {
              margin-right: 0; } }
        .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper {
          position: relative;
          width: 100%;
          height: 45px;
          margin-bottom: 18px; }
          .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper .floatLablel {
            position: absolute;
            z-index: 2;
            left: 20px;
            top: 14px;
            padding: 0 2px;
            pointer-events: none;
            background: #fff;
            transition: transform 300ms ease-in-out;
            transform: translateY(-20px);
            font-family: "nunito_regular";
            color: #7A7A7A;
            font-size: 12px;
            letter-spacing: 0.09px; }
          .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper input, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: solid 1px #EEEEEE;
            background-color: #fff;
            font-family: "nunito_regular";
            color: #7A7A7A;
            font-size: 12px;
            letter-spacing: 0.09px;
            padding-left: 10px; }
            .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper input:invalid + label, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:invalid + label {
              transform: translateY(0); }
            .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper input:focus, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:focus {
              border-color: #0045A8;
              outline: none;
              background-color: #fff; }
              .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper input:focus + .floatLablel, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:focus + .floatLablel {
                transform: translateY(-20px);
                background-color: #fff;
                color: #0045A8; }
          .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select {
            appearance: none;
            padding-left: 18px; }
            .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:invalid + label {
              transform: translateY(-25px); }
            .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:focus {
              border-color: #0045A8;
              outline: none; }
              .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:focus + .floatLablel {
                transform: translateY(-20px);
                background-color: #fff;
                color: #0045A8; }
.file-upload-sec .submit-btn-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .file-upload-sec .submit-btn-sec button {
    margin-bottom: 21px; }
  .file-upload-sec .submit-btn-sec .tearm-condition {
    font-family: "nunito_regular";
    font-size: 12px;
    color: #111111;
    letter-spacing: 0.12px; }
.file-upload-sec .wrap-com-logos {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .file-upload-sec .wrap-com-logos .com-logos {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    margin-top: 26px;
    margin-top: 30px; }
    @media (max-width: 480px) {
      .file-upload-sec .wrap-com-logos .com-logos {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .file-upload-sec .wrap-com-logos .com-logos img {
      margin-right: 11px; }
      .file-upload-sec .wrap-com-logos .com-logos img:last-child {
        margin-right: 0; }
      @media (max-width: 480px) {
        .file-upload-sec .wrap-com-logos .com-logos img {
          width: 100%;
          max-width: 70px; } }
  .file-upload-sec .wrap-com-logos .fl-bt-1 {
    position: absolute;
    top: 0;
    left: 82px; }
  .file-upload-sec .wrap-com-logos .fl-bt-2 {
    position: absolute;
    bottom: 0;
    right: 0; }

.flatpickr-calendar {
  top: 372px !important; }
  @media (max-width: 768px) {
    .flatpickr-calendar {
      top: 371px !important; } }
  @media (max-width: 767px) {
    .flatpickr-calendar {
      top: 268px !important; } }
  @media (max-width: 480px) {
    .flatpickr-calendar {
      top: 510px !important; } }
  @media (max-width: 320px) {
    .flatpickr-calendar {
      top: 544px !important; } }

.event.busy {
  background: #f64747; }

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .form-group input, .form-group .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper .form-group select {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer; }
    .form-group input:checked + label:after, .form-group .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:checked + label:after, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper .form-group select:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 5px;
      height: 9px;
      border: solid #0045A8;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
      @media (max-width: 480px) {
        .form-group input:checked + label:after, .form-group .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:checked + label:after, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper .form-group select:checked + label:after {
          width: 6px;
          height: 11px;
          top: 5px;
          left: 8px; } }
      @media (max-width: 320px) {
        .form-group input:checked + label:after, .form-group .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper select:checked + label:after, .file-upload-sec .wrap-file-upload .contact-form-section .form-wrap .sec .input-wrapper .form-group select:checked + label:after {
          left: 28px; } }
  .form-group .ageement-lbl {
    position: relative;
    cursor: pointer;
    font-family: "nunito_regular";
    font-size: 12px;
    color: #111111;
    letter-spacing: 0.12px;
    margin-bottom: 0;
    text-align: center;
    display: block; }
    .form-group .ageement-lbl a {
      position: relative;
      cursor: pointer;
      font-family: "nunito_bold";
      font-size: 12px;
      color: #000;
      letter-spacing: 0.12px; }
    .form-group .ageement-lbl::before {
      content: '';
      background-color: transparent;
      border: 1px solid #0045A8;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 6px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px; }
      @media (max-width: 480px) {
        .form-group .ageement-lbl::before {
          padding: 10px; } }
  .form-group #terms-error {
    text-align: center;
    padding-top: 10px; }

.wrp-form-btn {
  width: 100%;
  height: 100px;
  position: relative; }
  .wrp-form-btn .form-btn-sec {
    position: absolute;
    left: 0; }
    @media (max-width: 767px) {
      .wrp-form-btn .form-btn-sec {
        width: 100%;
        left: 50%;
        transform: translateX(-50%); } }

/*# sourceMappingURL=main.css.map */
