.beach-sculp {
   padding-top: 1.8rem;
   .beach-sculp-title{
      font-family: $montbold;
      font-size: 18px;
      color: #202330;
   }
    .rnd-sec {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;
       padding-top: 16px;
        .lock-icon {
            width: 25px;
            height: 25px;
            border: solid 1.5px #202330;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            
        }
        .round{
           padding-right: 40px;
           font-family: $montRegular;
           font-size: 16px;
           color: #84868D;
           line-height: 30px;
        }
        .locked{
           padding-right: 100px;
           font-family: $montItalic;
           font-size: 15px;
           color: #76C35B;
        }
        .wrap-badge {
         padding-left: 25px;
            .locked-badge {
                width: 462px;
                height: 50px;
                background-color: #E9F4E6;
                border: 1px solid #BDE2B1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                
                p {
                    font-family: $montRegular;
                    font-size: 15px;
                    color: #66B24B;
                }
                img {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: -8px;
               }

            }
            
        }
    }

}
.sculp-second{
   padding-top: 3rem;
}


