// .awards{
 
   
//    .awords-wrapper{
//       display: flex;
//       .winner-sub-title{
//          font-family: "montlight";
//          font-size: 3.125rem;
//          color: #212431;
//          line-height: 50px;
//          letter-spacing: -1px;
//          text-align: center;
//       }
//       .winn-sec{
//          width: 30%;
//          .wrap-image-section{
//             width: 100%;
//             border: solid 4px #000;
//             border-radius: 3px;
//             box-sizing: border-box;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding-left: 30px;
            
//             .br-wrap{
//                padding:50px;
//                img{
//                   width: 100%;
//                   max-width: 366px;
//                   height: 100%;
//                   max-width: 366px;
//                   object-fit: cover;
//                   object-position: center;
//                   box-sizing: border-box;
                  
//                }
//             }
            
//          }
//       }
//       .sub-winners{
//          width: 70%;
//          .three-section{
//             width: 100%;
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//             padding-left: 30px;
//             column-gap: 20px;

//             .three-wrap-sec{
//                width: 100%;
//                border: solid 4px #000;
//                border-radius: 3px;
//                box-sizing: border-box;
               
//                .br-wrap{
//                   padding: 50px;
//                   display: flex;
//                justify-content: center;
//                align-items: center;
//                   img{
//                      width: 100%;
//                      max-width: 181px !important;
//                      height: 286px !important;
//                      max-width: 366px;
//                      object-fit: cover;
//                      object-position: center;
//                      box-sizing: border-box;
                     
//                   }
//                }
//             }
//          }
//       }
//    }
   
// }

.awards{
   height: 900px !important;
   @media(max-width: 990px){
      height: auto !important;
   }
}
.awards .wrap-winner-sec .the-winner .wrap-winner-img img {
   width: 100%;
   max-width: 474px;
   padding: 50px;
   border: solid 4px #000;
   border-radius: 3px;
}
.wrap-winner-sec{
   column-gap: 20px;
}

.the-winner{
   width: 100%;
   .wrap-slide-winner-img{
      box-sizing: border-box;
      padding: 50px;
      border: solid 4px #000;
      border-radius: 3px;
   }
   .winner-slider{
      .swiper-slide{
         margin: 0;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         img{
            width: 100% !important;
            max-width: 366px !important;
            max-height: 386px;
            object-fit: cover;
            object-position: center;
            box-sizing: border-box;
            padding: 0 !important;
            border: none !important;
         }
      }
   }
 
}

.top-three-sec{
   width: 100%;
   .outer-border{
      padding: 35px 35px;
      border: solid 4px #000;
      box-sizing: border-box;
      border-radius: 3px;
   }
   .wrap-slider2{
      width: 32%;
      
      @media(max-width: 992px){
         width: 100%;
      }
      .info-winner{
         display: flex;
         span{
            padding-right: 10px;
         }
      }


      .winner-slider-three{
         .swiper-slide{
         
            
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
               width: 100% !important;
               max-width: 181px !important;
               max-height: 286px;
               object-fit: cover;
               object-position: center;
               box-sizing: border-box;
               padding: 0 !important;
               border: none !important;
               @media(max-width: 992px){
                  max-width: 100% !important; 
                  max-height: 100% !important;
               }
            }
         }
      }
   }
   
 

}





.awards .wrap-winner-sec .top-three .wrap-winner-img span {
   font-family: "montsemibold";
   font-size: 1rem;
   color: #202330;
   line-height: 30px;
   letter-spacing: -0.6px;
   text-align: left;
   padding-top: 0px;
}
.awards .wrap-winner-sec .top-three .wrap-winner-img .runnerup-txt{
   font-size: 1.1rem;
   color: #000000;
   letter-spacing: 1.2px;
   padding-top: 7px;
}


// media
.gal-item{
   .content{
      ul{
         li{
            p{
               font-size: 20px;
            }
         }
      }
   }
}
   