.login{
   margin-top: 30px;
   margin-right: 50px;
   display: flex;
   justify-content: flex-end;
   align-items: center;

   .login-left{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span{
         &:nth-child(1){
            font-family: $montSemibold;
            font-size: 15px;
            color: #272D40;
            line-height: 23px;
         }
         &:nth-child(2){
            font-family: $montRegular;
            font-size: 13px;
            color: #999BA3;
            line-height: 20px;
         }
      }
      

   }
   .login-img{
      width: 54px;
      height: 54px;
      background-color: #F1F1F1;
      border-radius: 100%;
      display: flex;
      object-fit: cover;
      object-position: center;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
   }
   .logout{
      button{
         cursor: pointer;
         font-family: "montregular";
         font-size: 14px;
         color: #0058A4;
         letter-spacing: 0.82px;
         line-height: 50px;
         border: none;
         padding: 0;
         margin: 0;
         box-sizing: border-box;
         background-color: #fff !important;
      }
   }
}

.profile-card{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   
   .wrap-back{
      width: 150px;
      height: 150px;
      background-color: #F1F1F1;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img{
         width: 100%;
         padding: 10px;
         object-fit: cover;
         object-position: center;
         pointer-events: none;
      }

      .cam-upload{
         position: absolute;
         bottom: 0;
         right: 0;
         width: 33px;
         height: 33px;
         background: url("../../images/camara-upload.svg");
         background-position: center;
         background-size: cover;
         cursor: pointer;
         input{
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 33px;
            height: 33px;
            font-size: 0;
            outline: none;
            border: none !important;
            opacity: 0;
            
            
         }
         
      }

   }
   .profile-title-section{
      padding-left: 28px;
      h5{
         &:nth-child(1){
            font-family: $montbold !important;
            font-size: 30px !important;
            color: #202330 !important;
            letter-spacing: -0.6px !important;
            padding: 0;
            margin: 0;
            line-height: 30px;
         }
         &:nth-child(2){
            font-family: $montbold !important;
            font-size: 18px !important;
            color: #202330 !important;
            padding: 0;
            margin: 0;
            line-height: 30px;
         }
         
      }
   }
}
.profile-spaceing{
   padding-top: 36px;
}
.profile-iteam{
   padding-bottom: 12px;
   p{
      &:nth-child(1){
         font-family: $montRegular;
         font-size: 15px;
         color: #84868D;
         line-height: 20px;
         padding: 0 !important;
         margin: 0 !important;
      }
      &:nth-child(2){
         font-family: $montRegular;
         font-size: 18px;
         color: #202330;
         line-height: 30px;
         padding: 0 !important;
         margin: 0 !important;
      }
   }
}
