input {
    border: solid 1px #9799A0 !important;
    box-sizing: content-box;
    margin-bottom: 0 !important;
    &:focus {
        box-shadow: none !important;
    }
}
select {
    border: solid 1px #9799A0 !important;
    max-width: 350px;
    height: 48px !important;
    font-family: $montRegular !important;
    font-size: 16px !important;
    color: #84868D !important;
    padding: 0 10px;
    border-radius: 0;
}
.input-field {
    width: 100%;
    max-width: 350px;
}

.input-field > label {
    font-family: $montRegular !important;
    font-size: 16px !important;
    color: #84868D !important;
    padding: 0 16px;
}
.input-field>label:not(.label-icon).active {
  -webkit-transform: translateY(-14px) scale(0.8);
  transform: translateY(-14px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: -5px;
  padding: 0 0;
}
.input-field{
  margin-top: 0;
  margin-bottom: 0;
}

button {
    width: 100%;
    max-width: 200px;

}
.btn {
    width: 100%;
    height: 48px !important;
    background-color: #004C98 !important;
}
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #004C98;
    border: 2px solid #004C98;
}
[type="radio"]:checked+span:after {
    transform: scale(1.1);
}
[type="radio"]+span:before,
[type="radio"]+span:after {
    width: 20px;
    height: 20px;
}

.input-radio {
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    border: solid 1px #9799A0 !important;
    height: 47px;
    display: flex;
    justify-self: start;
    align-items: center;
    margin-right: 15px;
    label {
        padding-left: 16px;
    }
}

.btn-outline {
    width: 100%;
    height: 48px !important;
    background-color: #ffffff !important;
    border: 1px solid #004C98 !important;
    color: #004C98;
    transition: 300ms;
    &:hover {
        background-color: #004C98 !important;
        color: #fff;
    }
}
.round-lock-btn{
    max-width: 150px;
    font-family: $montbold;
    font-size: 15px;
    color: #004C98;
}

// jury
.jury-sp {
    .head-title {
        padding-bottom: 8px;
    }
}
.jury-dash {
    .table-title {
        h2 {
            padding-bottom: 11px;
        }
    }
}

.jury-model {
    width: 100%;
    max-width: 600px;
    .modal-content {
        h4 {
            padding-bottom: 20px !important;
        }
        text-align: center;
        .input-wrap {
            padding: 0 7rem;
            .input-field {
                margin: 15px 0;
                &:first-child {
                    margin-top: 0;
                }
                input {
                    box-shadow: 0 1px 0 0 #ffffff;
                }
            }
        }
        .jury-acc-g {
            text-align: left !important;
            font-family: $montbold;
            font-size: 18px;
            color: #272D40;
            line-height: 25px;
        }
        .jury-check-wrap {
            display: flex;
            flex-direction: row;
            label{
              &:nth-child(2){
                margin-left: 50px;
              }
            }
        }
    }
}




.btn-outline{
  width: 100%;
  height: 48px !important;
  background-color: #ffffff !important;
  border: 1px solid #004C98 !important;
  color: #004C98;
  transition: 300ms;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
  input{
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
  &:hover{
    background-color: #004C98 !important;
    color: #fff;
  }
}

.pdf-view{
  a{
    display: flex;
    align-items: center;
    img{
      padding-right: 10px;
    }
  }
}

.pagination-sec{
  display: flex;
  justify-content: flex-end;
  .record{
    padding-right: 16px;
    span{
      font-family: $montRegular;
      font-size: 15px;
      color: #999BA3;
      line-height: 20px;
    }
  }
  .pagination{
    ul{
      
      margin-top: -5px;
      padding: 0;
      .left-arrow{
        font-size: 38px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #004C98;
        padding: 10px;
        margin: 0;
      }
      .right-arrow{
        @extend .left-arrow;
      }
      
    }
  }
}
.pagination{
  li{
    a{
      font-size: 15px;
      color: #232737;
      line-height: 32px;
      font-family: $montbold;
    }
  }
}
.pagination li.active {
  background-color: #fff !important;
  font-family: $montbold;
  font-size: 15px;
  color: #232737;
  line-height: 32px;
  
}

.wrap-login-btn{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
  button{
    max-width: 200px;
    margin-top: 42px;
    
  }
  a{
    padding-top: 20px;
    color: #004c98;
  }
}